.hero {
    &-description {
        h2 {
            font-size: 4rem;
            font-weight: 800;
            line-height: 140%;
            span {
                color: rgb(187, 187, 187);
            }
        }
        h2,
        p {
            margin: 0;
            margin-bottom: 20px;
        }
        p {
            font-size: 1.5rem;
            font-weight: 300;
        }
        .btn-buy {
            display: inline-block;
            padding: 10px 40px;
            box-sizing: border-box;
            color: #222;
            margin-right: 10px;
            text-decoration: none;
            background-color: rgb(207, 207, 207);
        }
        .btn-explore {
            text-decoration: none;
            padding: 10px 40px;
            box-sizing: border-box;
            color: #222;
            border: 1px solid #222;
        }
    }
}